#indian_flower
{
    padding: 25px 0px 0px 0px;
}

.invitation_text
{
    margin-top: 12px;
    text-align: center;
    font-size: 14;
}

.big_invitation_text
{
    font-size: 22;
    text-align: center;
}