body
{
    font-family: century gothic;
    color: #2F2F4F;
}

#header
{
    padding: 0px 15px 0px 20px;
    position: relative;
    position: relative;
    top: 0px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;

}

#header-menu
{
    padding: 10px 0px 0px 0px;
    
}

.top-level-header  a:link { text-decoration:none; color: #2F2F4F }
.top-level-header  a:visited { text-decoration:none; color: #2F2F4F }
.top-level-header  a:hover { text-decoration:none }
.top-level-header  a:active { text-decoration:none }

.top-level-header
{
    display: inline-block;
    width: 120px;
    height: 25px;
    padding: 5px 10px 5px 10px;
    margin-right: -3px;
    background-color: #C0C0C0;
    text-align: center;
    font-size: 14px;


    border-radius-top-left: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;

    border-radius-top-right: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;
}

.selected-tab
{
    padding-bottom: 15px;
    background-color: #f44253;
}
.padded_text
{
    padding: 5px 5px 5px 5px;
}

.align_right
{
    float: right;
    margin-left: 1em;
}

.headline
{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}

#index_main_text
{
    padding: 10px 10px 0px 10px;
}

#index_yellow_image
{
    padding: 10px 0px 0px 0px;
}

#content-border
{
    background-color: #2F2F4F;
    position: relative;
    top: -22px;
    width: 990px;
    min-height: 535px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;

    border-radius-top-left: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;

    border-radius-top-right: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;

    border-radius-bottom-left: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

    border-radius-bottom-right: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

}

#content
{
    background-color:rgb(255,255,255);
    position: relative;
    width: 950px;
    left: 15px;
    top: 17px;
    min-height: 500px;
    overflow: visible;
    margin: 5px 5px 5px 5px;

    border-radius-top-left: 10px;
    -moz-border-radius-topleft: 10px;
    -webkit-border-top-left-radius: 10px;

    border-radius-top-right: 10px;
    -moz-border-radius-topright: 10px;
    -webkit-border-top-right-radius: 10px;

    border-radius-bottom-left: 10px;
    -moz-border-radius-bottomleft: 10px;
    -webkit-border-bottom-left-radius: 10px;

    border-radius-bottom-right: 10px;
    -moz-border-radius-bottomright: 10px;
    -webkit-border-bottom-right-radius: 10px;

}
