body
{
    font-family: century gothic;
    color: #2F2F4F;
}

#header
{
    padding: 0px 15px 0px 20px;
    position: relative;
    position: relative;
    top: -10px;
    width: 960px;
    margin-right: auto;
    margin-left: auto;
    text-align: right;

}

#header-menu
{
    padding: 10px 0px 0px 0px;
    
}

#cara_plus_doug
{
    position: relative;
    text-align: left;
    top: 22px;
    font-size: 22;
    color: #f44253;
}

.top-level-header  a:link { text-decoration:none; color: #2F2F4F }
.top-level-header  a:visited { text-decoration:none; color: #2F2F4F }
.selected-tab  a:link { text-decoration:none; color: #FFFFFF }
.selected-tab  a:visited { text-decoration:none; color: #FFFFFF }
.top-level-header  a:hover { text-decoration:none }
.top-level-header  a:active { text-decoration:none }

.no_bullets
{
    list-style-type: none;
}

.underline
{
    text-decoration: underline;
}

.top-level-header
{
    display: inline-block;
    width: 140px;
    height: 35px;
    padding-bottom: 15px;

    margin-right: -3px;
    background-color: #C0C0C0;
    text-align: center;
    font-size: 12px;


}

.selected-tab
{
    padding-bottom: 15px;
    background-color: #2F2F4F;
    color: #FFFFFF;
}

.padded_text
{
    padding: 5px 5px 5px 5px;
}

.align_right
{
    float: right;
    margin-left: 1em;
}

.padded
{
    padding-bottom: 10px;
}

.headline
{
    font-size: 20px;
    font-weight: bold;
    padding: 0px 0px 5px 0px;
}

#index_main_text
{
    padding: 10px 10px 0px 10px;
}

#index_yellow_image
{
    padding: 10px 0px 0px 0px;
}

.blue-box
{
    display: block;
    background-color: #2F2F4F;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 12px;
    font-size: 1px;

}

.white-box
{
    display: block;
    background-color: #FFFFFF;
    position: relative;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    height: 12px;
    font-size: 1px;

}

#content-border
{
    background-color: #2F2F4F;
    position: relative;
    top: -32px;
    width: 990px;
    margin-right: auto;
    margin-left: auto;
    overflow: visible;

}


#content
{
    background-color:rgb(255,255,255);
    position: relative;
    width: 950px;
    left: 15px;
    overflow: visible;
    margin: 5px 5px 5px 5px;

}

.indented_paragraph
{
    padding-top: 10px;
    padding-left: 37px;
}

